   .productContainer {
    display: flex;
     flex-direction:column;  
      padding: 0.8rem ;
     
      /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  */
      border-radius: 2rem;
       
     gap:0.6rem;
     color: blueviolet;
     border-color: white;
     position: relative;
     z-index: 30;
    
  }  
  .productImage {
    width: 13rem;  
    max-width: 100%;  
  height: 12rem;
   border-right-width: 100px;
  gap: 0.2rem;
  border-color: blue;
  border-radius: 1rem;
  position: relative;
   z-index: 1000;
} 
  /* .productContainer:focus-within , */

  .hover {
    
      z-index: 1500; 
     /* height: max-content;  */
     width: 20; 
     position: absolute; 
      top:0rem;  
      bottom: -20rem;
     /* max-width: max-content; */
     border-radius: 0.1rem; 
     background-color: #181818; 
    transition: 0.3s ease-in-out;  


  }
  
  /* back */

/* 
 .productContainer:hover  {
   transform: translateX(-70% 70%); 
    transform: scale(1.3); 
    z-index: 9; 
   /* z-index: 99; */
   /* height: max-content; */
   /* width: 20rem; */
   /* position: absolute; 
    top: -18vh; 
   left: 0;
   border-radius: 0.3rem;
   box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
   background-color: #181818; */
   /* transition: 0.3s ease-in-out; 
 } 
/*  */



.imageContainerHover{
  
     
       /* object-fit: cover;   */
      /* border-radius: 0.3rem;  */
      /* margin-left: 2rem; */
      /* margin-right: 5rem; */
       /* height: 900px;  */
       /* width:  900px;  */
       /* margin-bottom: 9 rem; */
  
      /* object-fit: cover;  */
      /* border-radius: 0.3rem;   */
        /* z-index: -20;   */
         /* position: relative;    */
       /* height: 39px;   */
        /* top: -4px;    */
      

    /* height: 140px;
        object-fit: cover;
        border-radius: 0.3rem;
        /* top: 0; */
        /* z-index: 4; */
        /* position: absolute; */ 
  
}
   
   .imageHover{
     position: relative;
    /* padding: -4rem; */
     z-index: 1000; 
     top: 0px;
          width: 210px;  
        height: 140px;   
       /* top: -6rem;   */
     
    }

    .infoContainer{

      padding: -4rem ;
     gap: 0.5rem; 
        width: 100%;
        z-index: 1000;
    }

.productName{

    color: white;
    font-size: 12px;
     display:flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
     
      clear: both;  
     display: inline-block;  
    /* overflow: hidden; */
      white-space: nowrap;  
      padding: 0.7rem;
      gap:0.2rem;
      position:relative;
      /* transform: translate(-50%, ); */
    
       text-align: center;
       z-index: 1000;
}

.icons{
  display: flex;
   padding: 0rem;
   gap:3rem;
   row-gap: 1rem;
    font-size: 1.3rem;
}

.genres{
  gap: 1rem;
  padding: 1rem;
  position: relative;
  z-index: 1000;
}





/* 

.productPrice {
    display: flex;
    justify-content: space-between;
}

.productPrice span {
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
}

.productPrice .productInStock {
    background-color: green;
}

.productPrice .productOutOfStock {
    background-color: red;
}

.productAddToCart {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
     display: block;
    width: fit-content;
}

.productNotification {
    background-color: rgb(98, 0, 255);
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    display: block;
    width: fit-content;
}  */
